nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 12vh;
    background: rgb(101,107,110);
    color: white;
  }
.nav-links{
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     list-style: none;
}
.navtext{
  color:white;
  font-weight: 550;
  font-size: 17px;
  letter-spacing: 1.5px;
}
.navtext:hover{
  color:rgb(0, 0, 0);
}
.logo{
  position: relative; top: -46px;
  right:-8px;
  list-style: none;
  color: white;
  font-size: 40px;
  font-weight: 330;
  letter-spacing: 3px;
}
.logo:hover{
  color:rgb(0, 0, 0);
}
.logoMini{
  list-style: none;
  position: relative; top: -49px;
  right:-39px;
  color: white;
  font-weight: 330;
  font-size: 5px;
  letter-spacing: 3px;
}
.logoMini:hover{
  color:rgb(0, 0, 0);
}
.Logotype{
  width: 300px;
  position: relative; top: 28px;
  right:200px;
}
.label {
  position:relative; top:125px;
  left: 36%;
  font-weight: 800;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid white;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
}
.label2{
  position:relative; top:165px;
  align-self:center;
  right: 620px;
  font-weight: 800;
  font-size: 18px;
}